
#ksc-container {
    float: left;
    width: 49%;
}

#ksc-container > div {
    overflow: auto;
    margin-bottom: 1em;
}

#ksc-content {
    word-wrap: break-word;
}

#vafb-container {
    float: right;
    width: 49%;
}

#vafb-container > div {
    overflow: auto;
    margin-bottom: 1em;
}

#vafb-content {
    word-wrap: break-word;
}
